@import "../../../Styles/scss/utils.scss";
@import "../../../Styles/scss/config.scss";

#horse-owner {
    padding: 20px 0px 20px 0px !important;
    width: 100%;
    margin-top: 20px !important;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
