@import "../../../Styles/scss/config";
@import "../../../Styles/scss/utils";

.add-new-stable {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 555px;
    color: #3b3b3b;

    .welcome-note {
        font-size: 20px;
        font-weight: bold;
    }

    .add-stable {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
            height: 40px;
            margin-top: 10px;
            width: 40px;
            padding: 6px;
            background-color: #ffcc56;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                color: white;
            }
        }
    }
}
