@import "../../../Styles/scss/config";
@import "../../../Styles/scss/utils";

.profile-body-properties-empty {
    .add-new-stable {
        height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: #3b3b3b;

        .welcome-note {
            font-size: 20px;
            font-weight: bold;
        }

        .add-stable {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            svg {
                height: 40px;
                margin-top: 10px;
                width: 40px;
                padding: 6px;
                background-color: #ffcc56;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

.add-stable-modal {
    font-family: "Montserrat", sans-serif !important;
    .modal-content {
        background: #fff;
        color: #3b3b3b;

        .modal-header {
            border-top: rgba(109, 109, 109, 0.13) 1px solid;
        }

        .modal-body {
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;

            @media only screen and (max-width: 990px) {
                form {
                    display: flex !important;
                    flex-direction: column !important;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
            }

            form {
                position: relative;
                display: flex;
                align-items: center;

                .modal-avatar {
                    margin-bottom: 20px;

                    img {
                        border-radius: 50%;
                        background-color: white;
                        padding: 5px;
                        width: 200px;
                        height: 200px;
                        object-fit: cover;
                        position: relative;
                        border: #ffcc56 2px solid;

                        &::after {
                            content: "";
                            background-color: rgba(255, 255, 255, 0.397);
                            width: 100%;
                            z-index: 2;
                            position: absolute;
                        }
                    }

                    .add-horse-image {
                        position: absolute;
                        right: 20%;
                        bottom: 0%;
                        border-radius: 50px;
                        padding: 10px;
                        color: rgba(37, 36, 36, 0.959);
                        background-color: rgba(192, 192, 192, 0.911);
                        width: 44px;
                        height: 44px;
                        cursor: pointer;

                        input {
                            color: transparent;
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                        }

                        svg {
                            font-size: 22px;
                        }

                        &:hover {
                            background-color: rgba(22, 22, 22, 0.65);
                            cursor: pointer;
                            color: white;
                            transition: 0.3s;
                        }
                    }
                }

                .add-stable-modal-form {
                    .form-control {
                        width: 100% !important;
                    }

                    .form-group {
                        .form-control {
                            height: 50px;
                            font-size: 14px;
                            color: #3b3b3bb4;
                            font-family: "Cairo", sans-serif;
                            border: none;
                            background-color: #ffcc5632 !important;
                            width: 300px;

                            &::placeholder {
                                background-color: transparent;
                                color: #3b3b3b;
                            }

                            &:focus {
                                background-color: transparent !important;
                                box-shadow: 0 0 0 0.1rem rgba(255, 204, 86, 0.267) !important;
                                outline: none;
                                color: #3b3b3b;
                            }
                        }
                    }
                }
            }
        }

        .modal-footer {
            border-top: rgba(109, 109, 109, 0.13) 1px solid;
        }
    }
}

.form-button {
    background-color: transparent !important;
    color: #3b3b3b !important;
    font-size: 16px !important;
    border: none !important;

    &:hover {
        background-color: #ffcc56 !important;
        color: #fff !important;
    }
}

.sl-spinner2 {
    height: 30px;
}

.reactCal {
    background-color: black;
    z-index: 2 !important;
}

.incorrectCredentials {
    color: #3b3b3b;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;

    svg {
        margin-left: 5px;
        font-size: 25px;

        &:hover {
            background-color: white;
            color: black;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

@-webkit-keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}
@keyframes flip-in-ver-right {
    0% {
        -webkit-transform: rotateY(-80deg);
        transform: rotateY(-80deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {
    .add-horse-image {
        right: 20% !important;
    }
}

@media only screen and (max-width: 994px) {
    .add-horse-image {
        right: 30% !important;
        bottom: 5% !important;
    }
}

@media only screen and (max-width: 750px) {
    .add-horse-image {
        right: 32% !important;
        bottom: 5% !important;
    }
}

@media only screen and (max-width: 450px) {
    .add-horse-image {
        right: 25% !important;
        bottom: 0% !important;
    }
    .add-new-stable {
        height: 350px !important;
    }
}
