@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,800;1,300&display=swap");

#search-container {
    font-family: "Montserrat", sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    .search-bar {
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0px 10px;
        width: 61%;
        position: relative;
        line-height: 30px;

        input {
            z-index: 2;
            border: none;
            padding: 0px 10px;
            height: 50px;
            width: 80%;

            &:focus {
                outline: none;
            }
        }

        /* I C O N S */

        .eraseSearch-icon {
            padding: 0px 4px;
            font-size: 30px;
            z-index: 2;

            &:hover {
                cursor: pointer;
            }
        }

        .search-icon {
            padding: 0px 4px;
            font-size: 30px;
            z-index: 2;
        }

        .filter-icon {
            padding: 0px 4px;
            height: 30px !important;
            width: 30px !important;
            z-index: 2;

            &:hover {
                cursor: pointer;
                font-size: 31px;
            }
        }

        .sendSearchValue-icon {
            padding: 5px 10px;
            font-size: 19px;
            background-color: #ffcc56;
            border-radius: 25px;
            /* animation: roll-out-top 0.6s ease-in both, */
            animation: roll-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
            z-index: 2;

            &:hover {
                background-color: white !important;
                color: #ffcc56 !important;
                animation: vibrate-1 0.3s linear infinite both;
                font-size: 30px;
                cursor: pointer;
            }
        }

        .search-filter-dropDown {
            position: absolute;
            background-color: white;
            display: flex;
            top: 50px;
            right: 0px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            border-bottom-left-radius: 25px !important;
            border-bottom-right-radius: 25px !important;
            z-index: 1;

            .filteredBy-horses {
                padding: 5px 15px;
            }

            .stableChecked-radio {
                color: #ffcc56;
            }

            .filteredBy-stables {
                padding: 5px 15px;
            }

            svg {
                padding: 4px;
                font-size: 25px;

                &:hover {
                    cursor: pointer;
                    background-color: #f5f5f5;
                    border-radius: 50%;
                }
            }
        }
    }

    .dropDown-activated-style {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }

    .slide-in {
        animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }

    .slide-out {
        animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse;
    }
}

// K E Y   F R A M E S

@keyframes roll-out-top {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(-240deg);
        opacity: 0;
    }
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

// M E D I A    Q U E R Y

@media (min-width: 1578px) {
    #search-container .search-bar {
        width: 80%;
        height: 50px !important;
    }

    #search-container .search-bar input {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1578px) {
    #search-container .search-bar {
        width: 80%;
        height: 45px !important;
    }

    #search-container .search-bar input {
        width: 100%;
        height: 100%;
    }

    #search-container .search-filter-dropDown {
        top: 45px !important;
    }
}

@media (max-width: 1090px) {
    #search-container .search-bar {
        width: 80%;
        height: 45px !important;
    }

    #search-container .search-bar input {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 510px) {
    #search-container {
        margin-top: 80px !important;
        z-index: 1 !important;

        .search-bar {
            width: 90% !important;
            box-shadow: none;
            border-radius: 0px !important;
            height: 45px !important;
            input {
                width: 100%;
                height: 100% !important;
            }
        }
    }

    .dropDown-activated-style {
        border-radius: 0px !important;
    }
}

@media (min-width: 768px) {
    @keyframes roll-in-blurred-left {
        0% {
            transform: translateX(-800px) rotate(-720deg);
            filter: blur(50px);
            opacity: 0;
        }
        100% {
            transform: translateX(0) rotate(0deg);
            filter: blur(0);
            opacity: 1;
        }
    }
}

@media (max-width: 768px) {
    @keyframes roll-in-blurred-left {
        0% {
            transform: translateX(-400px) rotate(-720deg);
            filter: blur(50px);
            opacity: 0;
        }
        100% {
            transform: translateX(0) rotate(0deg);
            filter: blur(0);
            opacity: 1;
        }
    }
}
