#profile-header {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0px 20px 0px !important;
  width: 100%;
  margin-top: 80px !important;
  position: relative;
  height: 380px;
  border-radius: 5px;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/519/283/809/stable-horse-cute-animals-brown-wallpaper-preview.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
#profile-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(108, 98, 98, 0.598);
}
#profile-header .profile-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 80px;
  z-index: 2;
  position: relative;
  height: 100%;
}
#profile-header .profile-header-content .profile-cover-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #f7f7f7;
  -o-object-fit: cover;
  object-fit: cover;
}
#profile-header .profile-header-content .profile-header-description {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20px;
  color: #f7f7f7 !important;
  text-align: center;
}
#profile-header
  .profile-header-content
  .profile-header-description
  .profile-header-name {
  font-size: 50px;
  font-weight: bold;
}
#profile-header
  .profile-header-content
  .profile-header-description
  .profile-header-location {
  font-size: 25px !important;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  width: 100%;
  line-height: 25px;
}
#profile-header
  .profile-header-content
  .profile-header-description
  .profile-header-location
  svg {
  font-size: 25px;
}
#profile-header
  .profile-header-content
  .profile-header-description
  .profile-header-location
  .profile-location-text {
  font-size: 20px;
}
#profile-header .profile-header-wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
@media (max-width: 510px) {
  .profile-header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile-header-description {
    margin: 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .profile-header-name {
    font-size: 25px !important;
  }
  .profile-location-text {
    font-size: 12px !important;
  }
}
@media (max-width: 769px) {
  .profile-header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile-header-description {
    margin: 0px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .profile-header-name {
    font-size: 25px !important;
  }
  .profile-location-text {
    font-size: 12px !important;
  }
}
