@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,800;1,300&display=swap");

#register-modal {
  font-family: "Montserrat", sans-serif;
}

#register-modal .modal-content {
  background-color: #f7f7f7;
  border: none;
  border-radius: 7px;
  padding: 15px;
  color: #ffcc56;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#register-modal .modal-header {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#register-modal .modal-title {
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

#register-modal .modal-body {
  width: 100%;
}

#register-modal .modal-body form {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#register-modal .modal-body .form-group .form-control {
  color: #3b3b3b;
  background-color: white;
  width: 100%;
}

#register-modal .modal-body .form-group input {
  background-color: white;
  color: #3b3b3b;
}

#register-modal .modal-body .form-group input::placeholder {
  background-color: white;
  color: #3b3b3b3f;
}

#register-modal .modal-body form button {
  color: white !important;
}

.SignUpButton {
  text-align: center;
  margin-top: 5px;
}

.dataIsReady {
  animation: roll-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  background-color: #ffcc56 !important;
  border-radius: 25px !important;
  padding: 5px 10px !important;
}

.dataIsReady:hover {
  background-color: #ffcc56 !important;
  animation: vibrate-1 0.3s linear infinite forwards;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes roll-out-top {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(-240deg);
    opacity: 0;
  }
}

#register-modal .modal-footer {
  border: none;
  padding-right: 15px;
  width: 100%;
  display: flex;
  justify-content: end;
}

#register-modal .modal-footer button {
  border: none;
  color: #ffcc56;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}
