.App {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px !important;
  padding: 0px !important;
  font-family: Espoir;
  background: linear-gradient(
    50deg,
    rgba(55, 22, 86, 1) 37%,
    rgba(25, 24, 86, 1) 57%
  );
}

@font-face {
  font-family: Espoir;
  src: url(./fonts/Espoir.ttf);
}

@font-face {
  font-family: casualRegular;
  src: url(./fonts/Casual-Regular.ttf);
}
