.App {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px !important;
  padding: 0px !important;
  font-family: Espoir;
}

@font-face {
  font-family: Espoir;
  src: url(./fonts/Espoir.ttf);
}

@font-face {
  font-family: casualRegular;
  src: url(./fonts/Casual-Regular.ttf);
}
