@mixin social-media($color) {
    background-color: $color;
    display: flex;
    justify-content: center;
}

.sl-spinner2 {
    height: 30px;
}

.reactCal {
    background-color: black;
    z-index: 2 !important;
}
