$logo-font: "Zen Kurenaido", sans-serif;
$form-font: "Cairo", sans-serif;
$main-dark-background: linear-gradient(50deg, rgba(55, 22, 86, 1) 37%, rgba(25, 24, 86, 1) 57%);
$facebookColor: #3b5998;
$googleColor: #db4437;
