@import "../../../Styles/scss/config.scss";
@import "../../../Styles/scss/utils.scss";

.body-properties-header {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    width: 100%;

    .properties-title {
        font-weight: 700;
        font-size: 16px;
        color: #3b3b3b;
        width: 100%;
    }

    .properties-boxes {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .property-items {
            // background-color: #ffcc56;
            border-radius: 25px;
            padding: 0px 15px;
            border: 1px solid #e6e6e698;
        }
    }

    svg {
        font-size: 35px;
        padding: 5px;
        color: #3b3b3b;
        border-radius: 50%;
    }
}

.single-team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: #ffcc56;
    border-radius: 7px;

    .single-team-member-avatar {
        padding: 7px;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 5px solid #fff;
        }
    }

    .single-team-member-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .member-name {
            font-size: 15px;
            font-weight: 700;
            color: #3b3b3b;
        }
        .member-position {
            font-size: 11px;
            font-weight: 600;
            color: #3b3b3b;
        }
    }
}
