@import "../../../Styles/scss/config.scss";
@import "../../../Styles/scss/utils.scss";

.single-team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 7px;

    .single-team-member-avatar {
        padding: 7px;

        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 5px solid $yellow;
        }
    }

    .single-team-member-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .member-name {
            font-size: 15px;
            font-weight: 700;
            color: #3b3b3b;
        }
        .member-position {
            font-size: 11px;
            font-weight: 600;
            color: #3b3b3b;
        }
    }
}
